{% extends "layout.html" %}
{% block body %}
<div class="table-container">
    <table>
        <thead>
    	<tr>
    	    <th></th>
    	    <th class="id-col">ID</th>
    	    <th class="age-col">Created</th>
    	    <th>Task</th>
    	</tr>
        </thead>
        <tbody id="table-body">
            {% for task in data %}
            <tr>
    	    <td>
    		<input type="checkbox" 
    		       name="selected_task_ids"
    		       value="{{ task.id }}">
    	    </td>
                <td class="id-col">{{ task.id }}</td>
                <td class="age-col">{{ relative_date(task.entry) }}</td>
    	    <td>
    		    <span="project">{{ task.project }}</span>
    		    <span="description">{{ task.description }}</span>
    	    </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<a id="create-task-btn" href="/tasks/create">+</a>
{% endblock %}
