{% extends "layout.html" %}
{% block body %}
<form>
    <div class="table-actions">
        <button hx-put="/tasks/complete"
                hx-target="body">Done</button>
    </div>
    <div class="table-container">
        <table>
            <thead>
        	<tr>
        	    <th></th>
        	    <th class="id-col">ID</th>
        	    <th class="age-col">Created</th>
        	    <th>Task</th>
        	</tr>
            </thead>
            <tbody id="table-body">
                {% for task in data %}
                <tr>
        	    <td>
        		<input type="checkbox"
        		       name="selected_task_ids"
        		       value="{{ task.id }}">
        	    </td>
                    <td class="id-col">{{ task.id }}</td>
                    <td class="age-col">{{ relative_date(task.entry) }}</td>
        	    <td>
        		    <p class="description">{{ task.description }}</p>
                            {%- if task.project %}
                            <p class="pill">
                              <span class="icon">{% include "svg/list.svg" %} </span>
                              <span>{{ task.project }}</span>
                            </p>
                            {%- endif %}
                            {%- if task.tags %}
                              {%- for tag in task.tags %}
                                <p class="pill">
                                  <span class="icon">{% include "svg/tag.svg" %} </span>
                                  <span>{{ tag }}</span>
                                </p>
                              {%- endfor %}
                            {%- endif %}
        	    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</form>
<a id="create-task-btn" href="/tasks/create">+</a>
{% endblock %}
