<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasgau |  {%- if title %}| {{ title }} {%- endif %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>

  </head>
  <body>
    <header>
      <h1>Tasgau {%- if title %} | <span style="font-size: 0.8rem;">{{ title }}</span> {%- endif %}</h1>
    </header>
    <main>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="flash"><pre>{{ message }}<pre></div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      <div class="content">
        {% block body %} {% endblock %}
      </div>

      <a id="create-task-btn" href="/tasks/create">+</a>
    </main>
  </body>
</html>
